.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  
  
  /* Icon separator */
  .btn-sep {
    padding: 25px 60px 25px 120px;
  }
  
  .btn-sep:before {
    background: rgba(0,0,0,0.15);
  }
  
  
  /* Button 1 */
  .btn-1 {
    background: #3498db;
    color: #fff;
  }
  
  .btn-1:hover {
    background: #2980b9;
  }
  
  .btn-1:active {
    background: #2980b9;
    top: 2px;
  }
  
  .btn-1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 2 */
  .btn-2 {
    background: #2ecc71;
    color: #fff;
  }
  
  .btn-2:hover {
    background: #27ae60;
  }
  
  .btn-2:active {
    background: #27ae60;
    top: 2px;
  }
  
  .btn-2:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 3 */
  .btn-3 {
    background: #e74c3c;
    color: #fff;
  }
  
  .btn-3:hover {
    background: #c0392b;
  }
  
  .btn-3:active {
    background: #c0392b;
    top: 2px;
  }
  
  .btn-3:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Button 3 */
  .btn-4 {
    background: #34495e;
    color: #fff;
  }
  
  .btn-4:hover {
    background: #2c3e50;
  }
  
  .btn-4:active {
    background: #2c3e50;
    top: 2px;
  }
  
  .btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  
  /* Icons */
  
  .icon-cart:before {
    content: "\f07a";
  }
  
  .icon-heart:before {
    content: "\f55a";
  }
  
  .icon-info:before {
    content: "\f05a";
  }
  
  .icon-send:before {
    content: "\f1d8";
  }


  
  /* BASIC SETUP */
  
  .page-wrapper {
    width: 100%;
    height: auto;
  }
  
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
      -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
  }
  
  .navbar img {
    height: 56px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;
    
  }
  
  .nav-item a {
    color: #000;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    margin: 20vh;
  }
  
  .nav-item a:hover {
    color: #3498db;
  }
  
  /* SECTIONS */
  
  .headline {
    width: 100%;
    height: 50vh;
    min-height: 350px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('img/unsplash-under-water.jpg');
    background-size: 100% 100%; /* Stretch the image to fit the container */
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
  }
  
  .headline h1, p {
    color: #fff;
    text-align: center;
    line-height: 1.4;
  }
  
 .headline  h1 {
    font-size: 2.2rem;
  }
  
 .headline h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .eco-form1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    width: 620px;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  

  .place-option-button {
    --border: 2px;    /* the border width */
    --slant: 0.3em;   /* control the slanted corners */
    --color: #37E8FC; /* the color */
    
    font-size: 13px;
    padding: 0.1em 0.3em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: 
       linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
       linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
      0 0 0 200px inset var(--s,#0000),
      0 0 0 var(--border) inset var(--color);
    clip-path: 
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
                100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
               );
    transition: color var(--t,0.3s), background-size 0.3s;
  }
  .place-option-button:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
  }
  .place-option-button:hover,
  .place-option-button:active{
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
  }
  .place-option-button:active {
    --s: #0005;
    transition: none;
  }

  .place-suggestion-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .place-option-button-selected {
    font-size: 13px;
    padding: 0.1em 0.3em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
    --border: 2px;
    --slant: 0.3em;
    background-color:#37E8FC ;
  }



  .info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}